@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;400;500;700&display=swap');
@import url('//fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-1thin@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-2extralight@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-3light@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-4regular@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-5medium@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-6bold@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-7extrabold@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-8heavy@0.0.1/index.min.css');
@import url('https://cdn.jsdelivr.net/npm/@noonnu/s-coredream-9black@0.0.1/index.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'Binggrae';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff')
        format('woff');
}

h1 {
    font-size: 1.5em !important;
}

h2 {
    font-size: 1.2em !important;
    margin-bottom: 0.5em !important;
}

h3 {
    font-size: 1em !important;
}

p {
    font-size: 0.9em !important;
}

* {
    font-family: 'S-CoreDream-5Medium', 'Noto Sans KR', 'Gothic A1',
        'S-CoreDream-3Light', 'S-CoreDream-2ExtraLight', 'S-CoreDream-1Thin',
        sans-serif, 'NanumMyeongjo', 'NanumMyeongjoBold',
        'NanumMyeongjoExtraBold';
    /* letter-spacing: 0.05em; */
}

.table-container table {
    width: 100%;
}

/* 네비게이션 바 스타일 추가 */
.header-container {
    position: fixed;
    left: 4% !important;
    top: 2% !important;
    display: inline-block;
}

img {
    display: inline-block !important;
}

ol,
ul {
    padding-left: 0.8em !important;
    font-size: 0.9em !important;
}

li {
    font-size: 0.9em !important;
}

blockquote {
    border-top: none !important;
}

blockquote strong {
    color: #aaa !important;
}

.list-container ul {
    list-style-type: disc;
}

.list-container ol {
    list-style-type: decimal;
}
