/* @theme vertical-ebook */

@font-face {
  font-family: 'BookkGothic-Bd';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkGothic-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'BookkGothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/BookkGothic-Lt.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

/* 기본 스타일 */
section {
  width: 1748px;
  height: 2480px;
  padding: 100px;
  font-family: 'BookkGothic', sans-serif;
  font-size: 16px;
  color: #333;
  position: relative;
  background-color: white;
  overflow: hidden;
}

/* 공통 배경 처리 방식 */
section::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: white;
  z-index: -1;
}

/* 전환 슬라이드 배경색 */
section.transition::before {
  background: #ff5202;
}

/* 전환 슬라이드 텍스트 색상 */
section.transition {
  color: white;
}

/* 제목 슬라이드 */
section.titlepage .title {
  font-size: 2.5em;
  font-weight: bold;
  color: #cf4d11;
  border-bottom: 2px solid #cf4d11;
  padding-bottom: 0.2em;
}
section.titlepage .subtitle {
  font-size: 1.5em;
  font-weight: 300;
  color: #666;
}
section.titlepage .author,
section.titlepage .date {
  margin-top: 1em;
  color: #888;
  font-size: 1em;
}
