.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureLink {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 1rem;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.featureLink:hover {
  background-color: var(--ifm-color-emphasis-100);
  text-decoration: none;
  color: inherit;
}
