<section
	class="w-full flex flex-col items-center gap-3 py-4"
	aria-label="쿠팡 파트너스 광고"
>
	<p class="m-0 max-w-[680px] px-2 text-center text-[11px] font-medium leading-snug text-black/50">
		이 포스팅은 쿠팡 파트너스 활동의 일환으로, 이에 따른 일정액의 수수료를 제공받습니다.
	</p>
	<div class="w-full max-w-[680px] overflow-x-auto px-2 flex justify-center">
		<iframe
			src="https://ads-partners.coupang.com/widgets.html?id=981002&template=carousel&trackingCode=AF9588905&subId=&width=680&height=140&tsource="
			width="680"
			height="140"
			frameborder="0"
			scrolling="no"
			referrerpolicy="unsafe-url"
			title="쿠팡 파트너스 배너"
		></iframe>
	</div>
</section>
